@import "app-vars.css";

.van-cell.van-field.van-field--label-center {
    align-items: center;
}

.van-popup.van-toast {
    width: fit-content;
    max-width: 100%;
}

.van-popup.van-toast.van-toast--fail {
    background-color: red;
}

.van-popup.van-toast.van-toast--success {
    background-color: green;
}

.van-popup.van-popup--round.van-popup--bottom {
    height: 70%;
}

@media screen and (min-width: 768px) {
    .van-popup.van-popup--round.van-popup--bottom {
        height: 80%;
    }

    .van-popup.van-popup--right,
    .van-popup.van-popup--left {
        margin: auto;
        max-width: var(--side-width, 430px);
        right: calc((100% - var(--side-width, 430px)) / 2);
    }
    .van-number-keyboard,
    .van-popup.van-popup--round.van-popup--bottom {
        max-width: var(--side-width, 430px);
        margin-left: calc((100% - var(--side-width, 430px)) / 2);
    }
}
